html, body {
    height: 100%; !important;
    margin: 0;
}

body{
    display:flex;
    flex-direction:column;
}

header {
    padding: 156px 0 100px;
}

section {
    padding: 50px 0;
}

header {
    background-image: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
}



h1 {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.lead {
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2, ol {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

footer{
    height: 60px;
    margin-top:auto;
}


