<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Búa til aðgang</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link th:href="@{signup.css}" href="../static/signup.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">GAIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/challenges">Skoða Áskoranir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/signup">Búa til aðgang</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>GAIA</h1>
        <p class="lead">Staðurinn þar sem þú getur leyst öll vandamál heimsins!</p>
    </div>
</header>


<form  action="#" th:action="@{/signup}" th:object="${user}"  method="Post" type="hidden" style="border:1px solid #ccc">
    <div class="container">
        <h1 class="no_effect">Búa til aðgang</h1>
        <p>Vinsamlegast fyllið inn formið.</p>
        <hr>

        <label th:for="userName"><b>Notendanafn</b></label>
        <input type="text" placeholder="Nafn" name="userName" th:field="${user.userName}" required>

        <label th:for="email"><b>Netfang</b></label>
        <input type="text" placeholder="Netfang" name="email" th:field="${user.email}" required>

        <label th:for="psw"><b>Lykilorð</b></label>
        <input type="password" placeholder="Lykilorð" name="psw" th:field="${user.password}" required>

        <hr>

        <label th:for="user.gender"><b>Hversu oft keyriru í vinnuna?</b></label><br>
        <table>
            <tr>
                <td>
                    <h2>Hverus oft keyriru í vinnu/skóla?</h2>
                </td>
                <td>
                    <select name="kyn">
                        <option th:each="user : ${users}" th:value="'M'" th:text="Kyn"></option>
                    </select>
                </td>
            </tr>
        </table>




        <p>Með því að gera aðgang samþykkir þú  <a href="/skilmalar" style="color:dodgerblue">Notendaskilmála okkar</a>.</p>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Búa til aðgang</button>
        </div>
    </div>
</form>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GAIA 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>