<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Búa til aðgang</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link th:href="@{signup.css}" href="../static/signup.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">GAIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/challenges">Skoða Áskoranir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/signup">Búa til aðgang</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>GAIA</h1>
        <p class="lead">Staðurinn þar sem þú getur leyst öll vandamál heimsins!</p>
    </div>
</header>


<form  action="#" th:action="@{/signup}" th:object="${user}"  method="Post" type="hidden" style="border:1px solid #ccc">
    <div class="container">
        <h1 class="no_effect">Búa til aðgang</h1>
        <p>Vinsamlegast fyllið inn formið.</p>
        <hr>

        <label th:for="userName"><b>Notendanafn</b></label>
        <input type="text" placeholder="Nafn" name="userName" th:field="${user.userName}" required>

        <label th:for="email"><b>Netfang</b></label>
        <input type="text" placeholder="Netfang" name="email" th:field="${user.email}" required>

        <label th:for="psw"><b>Lykilorð</b></label>
        <input type="password" placeholder="Lykilorð" name="psw" th:field="${user.password}" required>

        <hr>

        <div class="turndownforwhat">

        <label class="labelit">Hvaða samgöngur notar þú?</label>
        <select th:field="${user.transIndex}">
            <option th:value="0" >Labba</option>
            <option th:value="0" >Hjóla</option>
            <option th:value="1700" >Strætó</option>
            <option th:value="2600" >Lítill bíll</option>
            <option th:value="3950" >Stór bíll</option>
        </select>

            <label class="labelit">Hvað eftirtöldu lýsir þínu mataræði best?</label>
            <select th:field="${user.foodIndex}">
            <option th:value="1250" >Vegan</option>
            <option th:value="1600" >Grænmetisæta</option>
            <option th:value="1700" >Almennt fæði</option>
            <option th:value="2000" >Ketó</option>
            <option th:value="2500" >Carnivore</option>
        </select>

            <label class="labelit">Hvernig hitar þú hús þitt?</label>
        <select th:field="${user.houseIndex}">
            <option th:value="0" >Hitaveita</option>
            <option th:value="50" >Rafmagn</option>
        </select>

            <label class="labelit">Hversu mikið eyðir þú á mánuði í munaðarvörur?</label>
        <select th:field="${user.consIndex}">
            <option th:value="500" >undir 100.000 á mánuði</option>
            <option th:value="1000">100-250 þús</option>
            <option th:value="2000">250-500 þús</option>
            <option th:value="3000">500-750 þús</option>
            <option th:value="4000">750 þús - 1 milljón</option>
            <option th:value="5000" >yfir miljón</option>
        </select>

        </div>
        <p class="skilmali">Með því að gera aðgang samþykkir þú  <a href="/skilmalar" style="color:dodgerblue">Notendaskilmála okkar</a>.</p>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Búa til aðgang</button>
        </div>
    </div>
</form>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GAIA 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>