<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notendaskilmálar</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link th:href="@{skilmalar.css}" href="../static/skilmalar.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">GAIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/challenges">Skoða Áskoranir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/signup">Búa til aðgang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login">Skrá inn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>GAIA</h1>
        <p class="lead">Staðurinn þar sem þú getur leyst öll vandamál heimsins!</p>
    </div>
</header>

<h2>Skilmálar GAIA</h2>
<ol>
    <li>
        <p>Allar tölur á síðunni eru gróft viðmið og ekki er hægt að ábyrgjast þær séu réttar að öllu leiti en veita viðmið meðan við meðaltal eftirfaldra lífstíla</p>
    </li>
    <li>
        <p>Upplýsingar sem eru veittar á síðunni má GAIA nota til úrvinnslu á gögnum, svo betur sé hægt að skilja neyslu þeirra einstaklinga sem setja hér inn upplýsingar</p>
    </li>
    <li>
        <p>Með að búa til aðgang samþykkir þú að GAIA hafi leyfi til gefa þér ráðleggingar um kaup á vörum útfrá þeim upplýsingum sem notandi hefur veitt.</p>
    </li>
    <li>
        <p>Þú leyfir GAIA að sýna þér auglýsingar inná þínum persónulega aðgangi</p>
    </li>
    <li>
        <p>Ef þú ert komin í þessa línu hefur þú lesið meira af skilmálum en meðalmaðurinn, klapp fyrir þér.</p>
    </li>
</ol>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GAIA 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>

</body>
</html>